<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
@*<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f4f4f4;
        }

        .content {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box {
            width: 200px;
            height: 200px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }

        .staff {
            background-color: #ffcc00;
        }

        .student {
            background-color: #33cc33;
        }

        .department {
            background-color: #3399ff;
        }

        .course {
            background-color: #ff6666;
        }

        .footer {
            background-color: #ccc;
            padding: 10px;
            text-align: center;
        }
    </style>*@
<!--</head>
<body>-->
@*<div class="content">
        <div class="box staff">
            Staff
        </div>
        <div class="box student">
            Student
        </div>
        <div class="box department">
            Department
        </div>
        <div class="box course">
            Course
        </div>
    </div>*@
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="student"></h3>

                <p>Student</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-graduate"></i>
            </div>
            <a href="@Url.Action("student","student")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="teacher"></h3>

                <p>Teacher</p>
            </div>
            <div class="icon">
                <i class="fa-chalkboard-teacher"></i>
            </div>
            <a href="@Url.Action("teacher","teacher")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="staff"></h3>

                <p>Staff</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="@Url.Action("staff","staff")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3 id="course"></h3>

                <p>Course</p>
            </div>
            <div class="icon">
                <i class="fas fa-arrow-circle-right"></i>
            </div>
            <a href="@Url.Action("course","course")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>


@*</body>
    </html>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        count();

    });
     function count() {
            $.ajax({
                url: '@Url.Action("GetReport","Ajax")',
                success: function (data) {
                    $("#student").html(data.studentcount)
                    $("#teacher").html(data.teachercount)
                    $("#staff").html(data.staffcount)
                    $("#course").html(data.coursecount)
                }
            })
        }
</script>